*{
    margin: 0px;
    padding: 0px;
    left: 0; 
    top: 0; 
    bottom: 0;
    right: 0;
    box-sizing: border-box;
}
html, head, body{
    background-color: rgb(187, 187, 149);
    font-family:'Times New Roman', Times, serif;
    line-height: 1.5;
    
}
main{
    margin: 0 auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
header{
    padding: 0px; 
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: beige;
    box-shadow: 0px 1px 3px rgb(116,115,115);
}
.cards{
    display: grid; 
    margin: 0 auto;
    background: none;
    margin-top: 100px;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    
    height: 500px;
    padding: 10px;
   

}
.card{
    display: inline-block;
    height: 28rem;
    width: 17rem;    
    background: none;
    transform-style: preserve-3d;
    transition: transform 1s ease;
}
.cardFront{
    position: absolute;
    backface-visibility: hidden;
    width: 100%; 
    height: 100%;
    background: none;
    transform: rotateY(180deg);
}
.cardBack{
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    background: none;
    transform: rotateY(0deg);
    
}
.flipCard .cardBack {
    transition: transform 1s ease;
    transform: rotateY(180deg); 
}

.flipCard .cardFront {
    transition: transform 1s ease;
    transform: rotateY(0deg); 
}

.card img {
    width: 100%; 
    height: 100%; 
    border-radius: 5px; 
}
.fortune{
    padding: 10px;
    max-width: 55rem; 
    height: 500px; 
    margin: 10px auto;
    background-color: beige;
}
#fortuneButton{
    display: none;
}